<h2><%= t(:editing, :default => 'Editing') %> <%= t('app.models.setting.bs_caption', :default => 'setting') %></h2>

<%= render 'form' %>

<%= link_to t(:back, :default => "Back"), settings_path, :class => "btn" %>